In [1]:
import pandas as pd
import numpy as np
import re

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv("data/train.csv")

In [3]:
train.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [9]:
vulgar_mask = "$&@*#"

#### Create a new Data Frame for processing

In [69]:
data = pd.DataFrame()

#### Remove Vulgar mask

In [70]:
data['tweet'] = train.tweet.str.replace(vulgar_mask,'')

In [71]:
data['label'] = train.label

#### Preprocessing
1. Parse tags
2. remove special chars
3. convert to lower

In [84]:
def parse_tags(text):
    return re.findall("#(\w+)",text)

def remove_specials(text):
    #remove urls
    text = re.sub(r'http\S+', '', text)
    #remove special chars
    text = ' '.join(re.findall("[a-zA-Z0-9]*",text))
    return re.sub(' +',' ',text)

In [79]:
#conver to lower

data['tweet'] = data.tweet.str.lower()

#parse tags
data['tags'] = data.tweet.apply(parse_tags)

In [82]:
#Remove Hashtags from tweet
data['tweet'] = data.tweet.str.replace("#(\w+)",'',regex=True)

In [85]:
data['tweet'] = data.tweet.apply(remove_specials)

In [86]:
data.head()

,tweet,label,tags
0,test,0,"[fingerprint, pregnancy, android, apps, beauti..."
1,finally a transparant silicon case thanks to m...,0,"[yay, sony, xperia, s, sonyexperias]"
2,we love this would you go,0,"[talk, makememories, unplug, relax, iphone, sm..."
3,i m wired i know i m george i was made that way,0,"[iphone, cute, daventry, home]"
4,what amazing service apple won t even talk to ...,1,[]